* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/bgwatches.jpg');
}


.box {
    position: absolute;
    margin-bottom: -1%;
}

.container {
    position: relative;
    width: 455px;
    min-height: 455px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    background: rgba(0,0,0, .7);
}

.form {
    position: relative;
    /*width: 100px;*/
    height: 100px;
    padding: 40px;
   
}

    .text{
        
        color: white;
        margin: 16px 138px 16px 135px;
    width: 200px;
    height: 20px;
}

.style {
    width: 100%;
   outline: none;
    }

.style {
    width: 100%;
    outline: none;
    padding: 10px 15px;
    height: 40px;
}

.inputbox {
    margin: 10px;
}
.input-signin{
    margin-top: 45px;
}

.Btnsubmit {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

    .Btnsubmit input[type="submit"] {
        color: #FFF;
        font-size: 1em;
        padding: 0.5em 1.2em;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        display: inline-block;
        text-transform: uppercase;
        border: none;
        outline: none;
        background: #73B6E1;
        font-family: 'Lato-Regular';
    }

    #btnRegister2:hover {
       cursor: pointer;
       background: black;
    }
   #btnSignIn{
       margin-top: 60px;
   }
   #RequiredFieldValidator1, 
   #RequiredFieldValidator2, 
   #RequiredFieldValidator3, 
   #RequiredFieldValidator4 {
     font-size: 15px;
   }